.container {
    width: 80%;
    margin: 40px auto;
}
h2{
    text-align: center;
    font-size: 24px;
}
.signup-card {
    background-color: #0d59bd;
    border-color: yellow;
    border-width: 25px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px yellow;
    height: 480px;
    width: 42%;
    margin-left: 29%;
    margin-top: 18px;
    margin-bottom: 50px;
}

.under-txt{
    color: rgb(243, 239, 12);
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
}

.input-group {
    margin-top: 20px;
}

.input-group label {
    color: rgb(255, 255, 255);
    margin-left: 20%;
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.input-group input {
    margin-left: 20%;
    width: 60%;
    padding: 4.px;
    border-width: 1px;
    border-color: #ddd;
    border-style: dotted;
    border-radius: 5px;
    font-size: 17.5px;
    color: rgb(14, 13, 13);
    border-color: aquamarine;
}

.password-input {
    position: relative;
}

.eye-icon {
    position: absolute;
    top: 0px;
    right: 110px;
    cursor: pointer;
    color: black;
    font-size: 20px;
}

.eye-icon:before {
    content: '\1F441'; 
}

button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    border-style: dotted;
    margin-left: 23%;
    font-size: 18px;
    border-color: yellow;
    width: 54%;
}

button[type="submit"]:hover {
    background-color: #83df0a;
}

#error-message {
    font-size: 12px;
    margin-left: 25%;
}
/* Media Query for Mobile */
@media only screen and (max-width: 768px) {
.container {
    width: 90%;
    margin: 10px auto;
}
h2{
    text-align: center;
    font-size: 24px;
}
.signup-card {
    background-color: #0d59bd;
    border-color: yellow;
    border-width: 25px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px yellow;
    width: 90%;
    margin: 10px auto;
    height: 510px;
    margin-top: 50px;
}
.container {
    width: 100%;
    margin: 10px auto;
}

.input-group {
    margin-top: 10px;
}

.input-group label {
    color: rgb(255, 255, 255);
    margin-left: 32px;
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.input-group input {
    margin-left: 12%;
    width: 72%;
    padding: 8px;
    border-width: 1px;
    border-color: #ddd;
    border-style: dotted;
    border-radius: 5px;
    font-size: 20px;
    color: rgb(14, 13, 13);
    border-color: aquamarine;
}
.password-input {
    position: relative;
    flex-direction: column;
}

.eye-icon {
    position: absolute;
    top: 7.5px;
    right: 50px;
    cursor: pointer;
    color: black;
    font-size: 20px;
}

.eye-icon:before {
    content: '\1F441'; 
}
#error-message {
    font-size: 15px;
    margin-left: 15%;
    margin-top: -5px;
}

.under-txt{
    color: rgb(214, 211, 22);
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
}
}