{% extends 'base.html' %}

{% block title %} Chat {% endblock %}
{% block meta %} 
<meta property="og:image" content="">
<meta name="author" content="A.I Instaraj">
<meta name="description" content="Chat with BOT-X. Provision of advanced tools for natural language processing. Built with love by A.I Instaraj">
{% endblock %}
{% block content %}

    <div class="chat-container">

        <div class="chat-header"> BOT-X </div>

        <div class="chat-messages" id="chat-messages"></div>

        <input type="text" id="message-input" placeholder="Type a message...">

        <button id="send-button"> &#10148;</button>

    </div>

    <script src="{{url_for('static', filename = 'js/chat.js')}}"></script>
    <link rel="stylesheet" href="../static/css/chat.css">

</body>
{% endblock %}