<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOT-X Verification Code</title>
</head>
<style> 
    h1{
        font-size: 24px;
        color: yellow;
    }
    .name{
        font-size: 16px;
        color: aquamarine;
    }
    .code{
        font-size: 18px;
        color: black;
    }
</style>
<body>
    <h1>
        BOT-X Verification Code 
    </h1>
    <br> 
    <hr color="yellow">
    <br>
    <p> 
        <div id="name"> 
            HI <b>{{ name }}</b>
        </div>
        <p> 
            Welcome to BOT-X
        </p>
        <div id="code"> 
            {{ code }}
        </div>
    </p>
</body>
</html>