{% extends 'base.html' %}

{% block title %} Code {% endblock %}

{% block meta %}
<meta property="og:image" content="">
<meta name="author" content="A.I Instaraj">
<meta name="description" content="Chat with BOT-X. Provision of advanced tools for natural language processing. Built with love by A.I Instaraj">
{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/css/code.css">
<div id="div">
    <h1>
        BOT-X Verification Code 
    </h1>
    <br> 
    <hr color="yellow">
    <br>
    <div>
        <div id="name"> 
            HI <b>{{ name }}</b>
        </div>
        <p> 
            Welcome to BOT-X
        </p>
        <div id="code"> 
            Your BOT-X Verification Code is <span>{{ code }}</span>
        </div>
    </div>
</div>
{% endblock %}