{% extends 'base.html' %}

{% block title %} Verify {% endblock %}
{% block content %}
    <br>
    <div id="upper_txt">
        <b> Enter the Verification Code sent to your Email </b>
    </div>
    <div class="verify-card">
        <h2> Verify </h2>
        <hr color="yellow">
        <form method="post" action="/verify">
            <div class="input-group">
                <label> Verification Code </label>
                <input type="text" name="code">
            </div>
            <div id="error-message" style="color: rgb(161, 42, 42);"></div>
            <br>
            <br>
            <button type="submit">Verify</button>
            <br>
            <br>
            <hr color="yellow">
            <br>
            <div class="under-txt"> 
                BOT-X
            </div>
        </form>
    </div>
    <link rel="stylesheet" href="../static/css/verify.css">
{% endblock %}